.button.button-positive {
    border-color: #a90730;
    background-color: #a90730;
    color: #fff;
}

.button {
    border-color: #a90730;
    background-color: #ffffff;
    color: #a90730;
}

.button .icon, .button.active, .button.activated, .button.active .icon, .button.activated .icon, .button.button-icon .icon, .button.button-icon.active, .button.button-icon.activated, .button.button-icon.active .icon, .button.button-icon.activated .icon {
    color: #545454;
}

.bar-content {
    background-color: #a90730;
}

.bar-side-menu {
    background-color: #545454;

}

.button-clear.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #545454;
}

.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-100 {
    stroke-dashoffset: 0;
    stroke: #77b300;
}



.mm-tabs-color .tab-item.tab-item-active, .mm-tabs-color .tab-item.active, .mm-tabs-color .tab-item.activated {
    border: 0 solid #545454;
}

.mm-menu-selected:not(.button), .mm-split-item-selected:not(.button), .item.mma-mod-lesson-selected:not(.button), .mm-grades-table .mma-mod-lesson-selected.itemcenter:not(.button) {
    background-color: #f5f5f5;
}


a {
    color: #0064d2;
}

.item.item-howto, .mm-grades-table .item-howto.itemcenter, .mm-info-item {
    border-bottom: 3px solid #545454 !important;
}

.toggle input:checked + .track {
    border-color: #a90730;
    background-color: #a90730;
}
